---
layout: default
---
{% include respo.html %}
{% if page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}
{% include respo.html %}
<div id="main" role="main">
  <article class="splash" itemscope itemtype="http://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="Live Streaming ★ {{ page.title | markdownify | strip_html | strip_newlines | escape_once }} ★ 16 Besar Piala Dunia 2018">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date: "%B %d, %Y" }}">{% endif %}
    <section class="page__content" itemprop="image">
      <figure><img src="{{ page.og_image }}"/><figcaption>Live Streaming ★ {{ page.title }} ★ 16 Besar Piala Dunia 2018</figcaption></figure>
    </section>
    <section class="page__content" itemprop="text">
    {{ page.excerpt }}
    
    {{ content }}
    </section>
  </article>
</div>
